*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

/* Home Page Style */

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/laptop\ -\ Copy.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

.navbar{
    width: 80%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff
}

.content h1{
    font-size: 70px;
    margin-top: 0px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

i {
    color: white;
    font-size: 30px;
    padding: 0 10px;
    align-items: center;
}

/* About Me Page Style */
.wrapper{
    width: 100%;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    line-height: 1.5;
}

.wrapper h1{
    font-size: 50px;
    margin-top: 0px;
}

.wrapper p{
    font-size: 16px;
}

#ranking{
    list-style: decimal;
}

#ranking li{
    font-size: 16px;
}

#profile {
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
}